/* common */
*{margin:0;padding:0;box-sizing:border-box;}
ul,ol{list-style:none}
button{-webkit-border-radius:0;border-radius:0;background-color:transparent;cursor:pointer}
a,a:hover,a:active,a:focus{text-decoration:none}
button{border:0 none;background-color:transparent;cursor:pointer}
em,address{font-style:normal}
table{border-collapse:collapse;border-spacing:0}
iframe,fieldset,img{border:0 none}
textarea{resize:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
img{vertical-align:top}
hr{display:none}

.for-a11y{ position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;clip: rect(0 0 0 0);overflow: hidden;text-indent: -5000em;}


/* header */
.section__header{
  overflow:hidden;
  height:56px;
  padding:0 10px;
  border-bottom:1px solid #e5e5e5;
}
.section__header .box__logo{
  float:left;
  width:120px;
  height:56px;
  background-color:#ccc;
}
.section__header .box__search{
  padding:10px 0 0 10px;
}

.box__header{
  max-width:1280px;
  margin:0 auto;
  overflow:hidden;
}

.box__search{
  overflow: hidden;
}
.box__search .box__form{
  display:flex;
}
.box__search .box__form .form__input{
  flex:1;
  padding:0 10px;
  height:30px;
  border:1px solid #ccc;
}
.box__search .box__form .button__search{
  width:65px;
  height:30px;
  background-color:#727272;
  color:#fff;
}


/* main container */
.box__container{
  max-width:1280px;
  margin:0 auto;
  padding:20px 0;
}

/* main play-list */
.list__play-item{
  overflow: hidden;
}
.list__play-item .list-item{
  float:left;
  width:25%;
  padding:10px;
  background-color:#fff;
}

.list__play-item .list-item .box__item{
  background-color:#ccc;
}

.list__play-item .box__thumnail{
  height:136px;
  background-color:firebrick;
}

.box__information{
  padding:5px;
}